.tabOp{
    display: flex;
    /* margin-bottom: 10px; */
}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 15px;
    margin: 0 10px;
    /* transition: all 0.3s; */
    width: 15rem;
}
.img{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 2vh;
    border-radius: 50%;
    /* margin: 0px 9px; */
    /* border-bottom:2px solid #ef4f5f; */
    /* width: 100px; */
}
.img img{
    height: 5vh; 
   cursor: pointer;

}
h3{
    padding-left: 10px;
    font-size: 23px;
}
.line{
    border-top: 1px solid rgb(226, 225, 225);
}