
  
  .loader {
    width: 150px;
    height: 2px;
    background-color: red;
    position: relative;
    /* top: 0; */
    animation: loaderAnimation 2s ;

  }
  
  @keyframes loaderAnimation {
    0% {
      left: 0;
      width: 0;
    }
    50% {
      left: 0;
      width: 50%;
    }
    100% {
      left: 0%;
      width: 100%;
    }
  }
  